Repository softeerbootcamp/Team8_FullStack, pull requests merged in 2023-02, with the labels that each got.

#115 issue#114 DB 예약어 변경
  Backend/src/main/java/site/devroad/softeer/exceptions/ExceptionType.java
  Backend/src/main/java/site/devroad/softeer/src/course/model/Chapter.java
  Backend/src/main/java/site/devroad/softeer/src/course/model/Course.java
  Backend/src/main/java/site/devroad/softeer/src/course/model/Subject.java
  Backend/src/main/java/site/devroad/softeer/src/course/repository/ChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/course/repository/CourseRepo.java
  Backend/src/main/java/site/devroad/softeer/src/course/repository/SubjectRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamSubmissionRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/subdto/ExamDetail.java
  Backend/src/main/java/site/devroad/softeer/src/exam/model/Exam.java
  Backend/src/main/java/site/devroad/softeer/src/exam/model/ExamSubmission.java
  Backend/src/main/java/site/devroad/softeer/src/exam/model/SubmissionType.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/subdto/ChapterDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/subdto/CourseDetail.java
  Backend/src/main/resources/logback.xml
  Backend/src/test/java/site/devroad/softeer/src/test/ExamServiceTest.java
  Backend/src/test/java/site/devroad/softeer/src/user/UserServiceTest.java
Labels: Database, BackEnd

#126 Fix : course detail, chapter detail
  Backend/src/main/java/site/devroad/softeer/src/course/repository/ChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/course/service/CourseService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/subdto/ExamDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/GetChapterDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/subdto/ChapterDetail.java
Labels: Database, BackEnd

#137 jwt 검증 인터셉터로 구현
  Backend/src/main/java/site/devroad/softeer/config/AuthInterceptor.java
  Backend/src/main/java/site/devroad/softeer/config/CorsConfig.java
  Backend/src/main/java/site/devroad/softeer/config/JwtExceptionHandler.java
  Backend/src/main/java/site/devroad/softeer/config/SpringConfig.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/user/UserController.java
  Backend/src/main/resources/logback.xml
  Backend/src/test/java/site/devroad/softeer/src/test/ExamServiceTest.java
Labels: BackEnd

#150 feat : print error message when login failed or server error
  Frontend/fe_vue/package-lock.json
  Frontend/fe_vue/public/assets/examBtn/FAILED.svg
  Frontend/fe_vue/public/assets/examBtn/NONE.svg
  Frontend/fe_vue/public/assets/examBtn/PASSED.svg
  Frontend/fe_vue/public/assets/examBtn/PENDING.svg
  Frontend/fe_vue/public/assets/examBtn/PURCHASED.svg
  Frontend/fe_vue/src/App.vue
  Frontend/fe_vue/src/components/login.vue
Labels: FrontEnd, code-review

#155 [BE] issue #144 user detail api 구현 완료
  Backend/src/main/java/site/devroad/softeer/exceptions/ExceptionType.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamController.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamSubmissionRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/GetExamDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/domain/ExamDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/chapter/ChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/chapter/ChapterService.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/completedchapter/CompletedChapter.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/completedchapter/CompletedChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/course/CourseRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/course/CourseService.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/GetChapterDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/GetCourseDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/GetSubjectDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/ChapterDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/CourseDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/SubjectDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/subject/SubjectRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/subject/SubjectService.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/subject/SubjectToRoadmapRepo.java
  Backend/src/main/java/site/devroad/softeer/src/user/UserController.java
  Backend/src/main/java/site/devroad/softeer/src/user/UserRepo.java
  Backend/src/main/java/site/devroad/softeer/src/user/UserService.java
  Backend/src/main/java/site/devroad/softeer/src/user/dto/GetUserDetailRes.java
Labels: BackEnd

#166 [BE] user detail 관련 debug 삭제
  Backend/src/main/java/site/devroad/softeer/src/user/UserService.java
Labels: BackEnd

#173 [BE] user detail 관련 bug fix
  Backend/src/main/java/site/devroad/softeer/src/user/UserService.java
  Backend/src/main/java/site/devroad/softeer/src/user/dto/GetUserDetailRes.java
Labels: BackEnd

#194 [BE]#issue 190 exam result를 db에 반영하는 api 구현
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamController.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamSubmissionRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/PutExamDetailReq.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/PutExamDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/exam/model/SubmissionType.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/GetSubjectDetailRes.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/CourseDetail.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/subject/SubjectService.java
Labels: BackEnd

#196 [BE] #195 assignment detail 받아오는 api 구현
  Backend/src/main/java/site/devroad/softeer/config/AuthInterceptor.java
  Backend/src/main/java/site/devroad/softeer/exceptions/ExceptionType.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamController.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamService.java
  Backend/src/main/java/site/devroad/softeer/src/exam/ExamSubmissionRepo.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/GetAssignmentDetail.java
  Backend/src/main/java/site/devroad/softeer/src/exam/dto/domain/Assignment.java
  Backend/src/main/java/site/devroad/softeer/utility/JwtUtility.java
Labels: BackEnd

#215 [BE] chapter detail bug fix
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/chapter/ChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/course/CourseService.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/ChapterDetail.java
Labels: BackEnd

#225 [FE] Frontend url을 조금더 restful 하도록 변경
  Frontend/fe_vue/src/components/header.vue
  Frontend/fe_vue/src/router/index.js
  Frontend/fe_vue/src/view/exam/frqExamSubmitView.vue
  Frontend/fe_vue/src/view/exam/mcqExamView.vue
  Frontend/fe_vue/src/view/user/courseView.vue
  Frontend/fe_vue/src/view/user/roadmap.vue
Labels: help wanted, FrontEnd

#228 [BE] fix : sql grammer error
  Backend/src/main/java/site/devroad/softeer/src/roadmap/chapter/ChapterRepo.java
Labels: BackEnd

#256 [FE] 회원가입 이후 로드맵 만들기 위한 응답을 할 수 있도록 설정
  Frontend/fe_vue/src/App.vue
  Frontend/fe_vue/src/assets/making.png
  Frontend/fe_vue/src/router/index.js
  Frontend/fe_vue/src/view/admin/roadmapFactory.vue
  Frontend/fe_vue/src/view/exam/examPurchaseView.vue
  Frontend/fe_vue/src/view/exam/mcqExamView.vue
  Frontend/fe_vue/src/view/user/surveyForm.vue
  Frontend/fe_vue/src/view/user/userPendingView.vue
Labels: FrontEnd

#258 [FE] changing margin of course view
  Frontend/fe_vue/src/view/admin/adminUserView.vue
  Frontend/fe_vue/src/view/admin/roadmapFactory.vue
  Frontend/fe_vue/src/view/user/chapterView.vue
Labels: FrontEnd

#259 [BE] fix : course detail에서 account_id를 받아오지 않았던 문제를 해결
  Backend/src/main/java/site/devroad/softeer/src/roadmap/RoadmapController.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/chapter/ChapterRepo.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/course/CourseService.java
  Backend/src/main/java/site/devroad/softeer/src/roadmap/dto/domain/ChapterDetail.java
  Backend/src/test/java/site/devroad/softeer/src/roadmap/RoadmapControllerTest.java
Labels: BackEnd
